<h2>Edit Media</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_media_path(@conn, :update, @media) %>

<span><%= link "Back", to: admin_media_path(@conn, :index) %></span>
